<app-two-column>
  <div class="content1 image_content">
    <img ngSrc="project-gifs/landscape.gif" width="100" height="100"/>
  </div>
  <div class="content2 text_content">
    <div appSlideContent [speed]="'fast'">
      <h1>About Me</h1>
    </div>
    <div appSlideContent [speed]="'medium'">
      <h2>Developer with a strong drive to excellence.</h2>
    </div>
    <div appSlideContent [speed]="'slow'">
      <p>
        Hey there! I'm a guy who loves building clean and intuitive software and websites,
        passionate about solving messy problems, learning new tech, and creating things that both feel good and look good!
        When I'm not coding, anyone can catch me exploring new topics, learning random facts, or looking at cat pics!
      </p>
    </div>
    <div appSlideContent [speed]="'very-slow'">
      <p>
        During my time in college, I worked on a number of project that helped developed my coding skills.
        Soon after, I landed my first internship as a Web Development Student in the Sault Ste. Marie Innovation Center, and lately
        I've been working on both web and game development personal projects!
      </p>
    </div>
  </div>

</app-two-column>
