.gallery-item {
  width: 300px;
  display: inline-block;
  white-space: nowrap;
  padding: 1rem;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-weight: bold;
  padding: 15px;
  text-align: center;
}
