<div class="container">
  <img ngSrc="links/github.svg" (click)="openTab('https://github.com/Otep123')" class="{{mode}}" width="30" height="30"/>
  <img ngSrc="links/discord.svg" (click)="openTab('https://discord.com/users/evilotep')" class="{{mode}}" width="30" height="30"/>
  <img ngSrc="links/facebook.svg" (click)="openTab('https://www.facebook.com/josef.soneja')" class="{{mode}}" width="30" height="30"/>
  <img ngSrc="links/instagram.svg" (click)="openTab('https://www.instagram.com/toteppp/')" class="{{mode}}" width="30" height="30"/>
</div>
