.container {
  display: flex;
  margin: 10px;
}

.container img {
  padding: 0 30px 0 0;
  transition: transform .2s;
}

.container img:hover {
  transform: scale(1.2);
}

.light {
  filter: invert(19%) sepia(0%) saturate(20%) hue-rotate(277deg) brightness(100%) contrast(89%);
}

.dark {
  filter: invert(100%) sepia(7%) saturate(59%) hue-rotate(169deg) brightness(113%) contrast(87%);
}
